<html>
<head>
<style type="text/css">
h1.custom {
    color: #9933FF;
    font-size: 70px;
    }
</style>
</head>

<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>

    <head>
    <style type="text/css">

    h2.custom {
    color: #9933FF;
    font-size: 30px;

}
</style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #9933FF;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center"><html>
<head>
<style type="text/css">
h1.custom {
    color: #9933FF;
    font-size: 70px;
    }
</style>
</head>

<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>
<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #9933FF; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #9933FF;
}

</style>
</head>

    <head>
    <style type="text/css">

    h2.custom {
    color: #9933FF;
    font-size: 30px;

}
</style>
</head>
<head>
    <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px}
    </style>
</head>
<head>
    <style type="text/css">
IMG.frontblock {
    position: relative;
    margin-left: 80px;
    margin-right: auto;
}
    </style>
</head>
<head>
    <style type="text/css">
IMG.front {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
    </style>
</head>
<head>
    <style type="text/css">
IMG.background {
    position: absolute;
    left:50%;
    right:50%;
    margin-left:-500px;
    margin-right:-250px;
    width: 1000px}
    </style>
</head>
<head>
    <style type="text/css">

    h3.custom {
    color: #3300CC;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center">Building Blocks Game</h1>
<h2 class="custom text-center">In this fun game you get to build some of the codes you just learned.
</h2>

<h3 class="custom text-center">
<div class="row">
Game Rules
</div>
<div class="row">
1. You will be given a code. Try to remember it!
</div>
<div class="row">2. Next you will given some code block choices.
</div>
<div class="row">
3. Pick the blocks that match the code you were given to collect points. Make sure you pick the blocks in the right order!
</div>
<div class="row">
4. You can't pause a game once you start playing. If you leave the game screen you have to start over again.
</div>
<div class="row">
</div>
<div class="row">
</div>

</h3>
<div class="row">
<h2 class="custom text-center">Click the blocks below to get started</h2> <h2 class="custom text-center">or play our level 2 <a href="/game/play_beginner_one">beginner</a> and <a href="/game/play_intermediate_one">intermediate</a> games</h2>
   </div>
<div class="container">
<img src="/images/learnblock.png" IMG class="background">
<div class="row">
   <a href="/game/play_beginner">
 <img style="height: 220px; width: 500px; margin: -100px 0px 0px
 px 400px;" IMG class="frontblock" src="/images/play beginner.png"> </a>

   <a href="/game/play_intermediate">
 <img style="height: 220px; width: 500px; margin: 60px -400px 60px -10px;" IMG class="front" src="/images/play intermediate.png"> </a>

     <a href="/game/play_advance">
 <img style="height: 220px; width: 500px; margin: -50px -100px 200px 300px;" IMG class="front"src="/images/play advanced.png"> </a>
   </div>
      </div>




