<html>
<head>
<style type="text/css">
h1.custom {
    color: #9933FF;
    font-size: 70px;
    }
</style>
</head>

<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>
<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #9933FF; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #9933FF;
}

</style>
</head>

    <head>
    <style type="text/css">

    h2.custom {
    color: #9933FF;
    font-size: 30px;

}
</style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #9933FF;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center">Advanced Code</h1>
<h2 class="custom text-center">All of the Lights</h2>

<div class="row">
<h3 class="custom text-center"><strong>The bracelet blinks and also changes from teal to light blue to fuchsia.</strong></h1>
</h3>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lifdoelse.png" class="img-responsive center-block">Make the rgb value high.The value high means the light is as bright as possible.

 </div>
  </div>
 </div>
 </div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lifequal.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>

</div>


<div class="row">
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lvalue.png" class="img-responsive center-block">Make the rgb value high.The value high means the light is as bright as possible.

 </div>
  </div>
 </div>
 </div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/llight.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>
</div>
<div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom"> <img src="/images/lvaluehigh.png" class="img-responsive center-block">We want the bracelet to be dim, so dim it seems like the light  is off. The value low means the light is as dim as possible.

    </div>
</div>
</div>
</div>

    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lmake.png" class="img-responsive center-block">Make the rgb value high.The value high means the light is as bright as possible.

 </div>
  </div>
 </div>
 </div>
  </div>
  <div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lcolor.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom"> <img src="/images/lequal.png" class="img-responsive center-block">We want the bracelet to be dim, so dim it seems like the light  is off. The value low means the light is as dim as possible.

    </div>
</div>
</div>
</div>
</div>
<div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lvalue2.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom"><img src="/images/llightsensor2.png" class="img-responsive center-block">We want to program each color to blink separately. That way we can make some colors blink faster than others. In order to do this we need to use logic to add a condition to the code.
 </div>
  </div>
 </div>
 </div>
  </div>
<div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lvaluelow.png" class="img-responsive center-block">Let's create our colors.First we need to create light blue (rgb 106, 90, 205). Next we need to create fuchsia by changing our values again , this time to (rgb  225,0,255).
 </div>
</div>
 </div>
</div>

 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lmake2.png" class="img-responsive center-block">We want the push the code to the hardware so we write show at the end of our code.
    </div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lcode.png" class="img-responsive center-block">We want the push the code to the hardware so we write show at the end of our code.
    </div>
</div>
</div>
</div>
</div>

<h2 class="custom text-center">
   You are now an advance coder! It's time to test your skills with some fun games!</h2>

<ul class="pager">
  <li><a href="/learn/intermediate_code">Previous</a></li>
</ul>



