<html>
<head>
<style type="text/css">
h1.custom {
    color: #6699FF;
    font-size: 70px;
    }
</style>
</head>


<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #6699FF; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #FFFFFF;
}

</style>
</head>
    <head>
    <style type="text/css">

    h2.custom {
    color: #6699FF;
    font-size: 30px;

}
</style>
</head>
<head>
    <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px}
    </style>
</head>
<head>
    <style type="text/css">

    h3.custom {
    color: #6699FF;
    font-size: 30px;


}
</style>
</head>
<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>
<h1 class="custom text-center">How to Code</h1>

<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: white}
</style>
</head>
<body>

</html>
<div class="panel-body panel-body-custom">
 </div>
   <div class="row">


  <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">cStyle has 4 Building Blocks</h4>
   </div>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>


  </div>
<div class="panel-body panel-body-custom">
 </div>
 <div class="panel-body panel-body-custom">
 </div>
 <div class="panel-body panel-body-custom">
 </div>
 <div class="panel-body panel-body-custom">
   <div class="row">
<div class="col-xs-6 col-sm-3">
 <button type="button" class="img" data-container="body" data-toggle="popover" data-placement="top" data-content="In programming logic is used to restrict your code. It sets up conditions your code has to follow in order for it to work. cStyle does this by using  “if” “then” and  “else”."><img style= "height: 200px; width: 300px; margin: 0px 0px  0px 0px;"img src="/images/logic.png"></button>
   </div>
   <div class="col-xs-6 col-sm-3">
    <button type="button" class="img" data-container="body" data-toggle="popover" data-placement="top" data-content="Functions are action blocks. When this action block is powered, it tells the variable blocks what to do."><img style= "height: 200px; width: 300px; margin: 0px 0px  0px 0px;"img src="/images/functions.png"></button>
     </div>
     <div class="col-xs-6 col-sm-3">
   <button type="button" class="img" data-container="body" data-toggle="popover" data-placement="top" data-content="In coding language a variable represents some specific thing or set of things. This thing is defined by the value you give it."><img style= "height: 200px; width: 300px; margin: 0px 0px  0px 0px;"img src="/images/variable.png"></button>
    </div>
    <div class="col-xs-6 col-sm-3">
     <button type="button" class="img" data-container="body" data-toggle="popover" data-placement="top" data-content="Values are basically data. A value tells you information about the variable."><img style= "height: 200px; width: 300px; margin: 0px 0px  0px 0px;"img src="/images/values.png"></button>
           </div>
     </div>
   </div>
     <div class="panel-body panel-body-custom">
 </div>
     <div class="panel-body panel-body-custom">
     </div>
<div class="row">
  <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">If you can form a sentence then you can start coding with cStyle!</h4>
   </div>
    </div>

   <h3 class="custom text-center"><strong><div class="row">1. You should read code from left to right and top to bottom just like a sentence. </div><div class="row"></div><div class="row"> 2. You can think of variables as a noun that receives the action and usually follows the function(verb). </div> <div class="row">3. Values act similarly to adjectives and add meaning and modify the characteristics of variables (nouns).</div> <div class="row"> 4. “If” “then” and “else” serve as our conjunctions and connect our code together. </div></strong></h3>
   </div>
<div class="panel-body panel-body-custom">
     </div>
     <div class="panel-body panel-body-custom">
     </div>
   <div class="row">
  <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Codes Examples</h4>
   </div>
    </div>
     </div>
   <div class="container">
  <div class="row">
   <div class="col-xs-6 col-sm-3">
<a href="/learn/beginner_code">
 <img style="height: 200px; width: 300px; margin: 20px 80px  30px 10px;"src="/images/beginner code.png"> </a>
  </div>
  <div class="col-xs-6 col-sm-3">
   <a href="/learn/intermediate_code">
 <img style="height: 200px; width: 300px; margin: 20px 80px  30px 90px;"src="/images/intermediate code.png"> </a>
  </div>
 <div class="col-xs-6 col-sm-3">
   <a href="/learn/advance_code">
 <img style="height: 200px; width: 300px; margin: 20px 80px  30px 200px;"src="/images/advanced code.png"> </a></div>
  </div>
</div>
   </div>
</div>
</div>

