<html>
<head>
<html>

<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #6699FF; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #6699FF;
}

</style>
</head>
<head>
<script>
$(function() {
   $('#flash').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
   });
});

</script>
</head>
<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>

<style type="text/css">
h1.custom {
    color: #6699FF;
    font-size: 70px;
    }
</style>
</head>


    <head>
    <style type="text/css">

    h2.custom {
    color: #6699FF;
    font-size: 30px;

}
</style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #6699FF;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center">Beginner Code</h1>
<h2 class="custom text-center">Turn the Lights On
</h2>
<div class = container>
 <div class="row">
<h3 class="custom text-center"><strong>
We want to code the lights in the bracelet to be pink.</strong></h3>
</div>
  </div>
<div class = container>
<div class="row">
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom">
   <img src="/images/makeblock.png" class="img-responsive center-block"><h4 class="custom text-center">Function</h4> <h3 class="custom text-center"><strong>For this simple code you can start with the function block, you don't need to add logic. Since we want the bracelet to do something, we use the "make" function block.</h3>

  </div>
  </div>
 </div>
 </div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom">
   <img src="/images/colorblock.png" class="img-responsive center-block"><h4 class="custom text-center">Variable</h4> <h3 class="custom text-center"><strong>Choose the color variable block. In this case we would select the color pink but you can select any color.</h3>

 </div>
</div>
 </div>
</div>

</div>

</div>
</div>
 <h2 class="custom text-center">
   You just learned your frist code! Keep going to learn more.</h2>
<ul class="pager">
  <li><a href="/learn/basics">Previous</a></li>
  <li><a href="/learn/beginner_code_one">Next</a></li>
</ul>
