
<html>

<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #6699FF; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #6699FF;
}

</style>
</head>
<head>
<script>
$(function() {
   $('#flash').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
   });
});

</script>
</head>
<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>

<style type="text/css">
h1.custom {
    color: #6699FF;
    font-size: 70px;
    }
</style>
</head>


    <head>
    <style type="text/css">

    h2.custom {
    color: #6699FF;
    font-size: 30px;

}
</style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #6699FF;
    font-size: 20px;


}
</style>
</head>
</html>
<h1 class="custom text-center">Beginner Code</h1>
<h2 class="custom text-center">Make the Lights Blink.</h2>

<div class = container>
 <div class="row">
<h3 class="custom text-center"><strong>
Blinking means that the light is being paused for some time and then it turns back on.</strong></h1>
</div>
  </div>
<div class = container>
<div class="row">
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom">
   <img src="/images/b.png" class="img-responsive center-block"><h4 class="custom text-center">Function</h4> <h3 class="custom text-center"><strong>Start with the make block.</h3>

  </div>
  </div>
 </div>
 </div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom">
     <img src="/images/bcolor.png" class="img-responsive center-block"><h4 class="custom text-center">Variable</h4> <h3 class="custom text-center"><strong>Choose the color block. We selected the color blue but you can select any color.</h3>
 </div>
</div>
 </div>
</div>
 </div>
 <div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom">
       <img src="/images/bvalue.png" class="img-responsive center-block"><h4 class="custom text-center">Function</h4> <h3 class="custom text-center"><strong>We use the pause block to stop the lights for a little while. How long do we want the lights to be paused? We can use a value block to show the length of time. We chose 1000 seconds.</h3>
</div>
</div>
</div>
</div>
<div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 4</h4>
   <div class="panel-body panel-body-custom">
       <img src="/images/bcolor2.png" class="img-responsive center-block"><h4 class="custom text-center">Variable</h4> <h3 class="custom text-center"><strong>Now that the lights are not paused anymore we can use the color block to change the color to purple.</h3>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 4</h4>
   <div class="panel-body panel-body-custom">
       <img src="/images/bcode.png" class="img-responsive center-block"><h4 class="custom text-center">Function</h4> <h3 class="custom text-center"><strong>We want to repeat the blinkng so we will use the pause block to stop the lights from being purple for 1000 seconds.</h3>
</div>
</div>
</div>
</div>
<div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 6</h4>
   <div class="panel-body panel-body-custom">
       <img src="/images/bstop.png" class="img-responsive center-block"><h4 class="custom text-center">Function</h4> <h3 class="custom text-center"><strong>Use the stop block to end the code, otherwise the code will continue repeating.</h3>
</div>
</div>
</div>
</div>
</div>
</div>
<h2 class="custom text-center">
   Congrats! Next let's learn how to turn the lights on and off.</h2>
<ul class="pager">
  <li><a href="/learn/beginner_code">Previous</a></li>
  <li><a href="/learn/beginner_code_two">Next</a></li>
</ul>
