<html>
<head>
<style type="text/css">
h1.custom {
    color: #FF0080;
    font-size: 70px;
    }
</style>
</head>
<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #FF0080; color: #F8F8FF;
}
.panel-body-custom {
    background: white; color: #FF0080;
}

</style>
</head>

<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>

    <head>
    <style type="text/css">

    h2.custom {
    color: #FF0080;
    font-size: 30px;

}
</style>
</head>

<head>
    <style type="text/css">

    h3.custom {
    color: #FF0080;
    font-size: 20px;


}
</style>
</head>

</html>
<h1 class="custom text-center">Intermediate Code</h1>
<h2 class="custom text-center">This is a blink code.</h2>

<div class="row">
<h3 class="custom text-center"><strong>
Blinking means that the light is on for 2 seconds and off for 2 seconds continuously .
</strong></h1>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom"><img src="/images/lifdoelse.png" class="img-responsive center-block">Make the rgb value high.The value high means the light is as bright as possible.

 </div>
  </div>
 </div>
 </div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/tiflessthan.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>

</div>


<div class="row">
    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom"><img src="/images/tgetvalue.png" class="img-responsive center-block">Make the rgb value high.The value high means the light is as bright as possible.

 </div>
  </div>
 </div>
 </div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/ttempsensor.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>
</div>
<div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom"> <img src="/images/tvalue.png" class="img-responsive center-block">We want the bracelet to be dim, so dim it seems like the light  is off. The value low means the light is as dim as possible.

    </div>
</div>
</div>
</div>

    <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 1</h4>
   <div class="panel-body panel-body-custom"><img src="/images/tmake.png" class="img-responsive center-block">Make the rgb value high.The value high means the light is as bright as possible.

 </div>
  </div>
 </div>
 </div>
  </div>
  <div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/tcolor.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 3</h4>
   <div class="panel-body panel-body-custom"> <img src="/images/tmake2.png" class="img-responsive center-block">We want the bracelet to be dim, so dim it seems like the light  is off. The value low means the light is as dim as possible.

    </div>
</div>
</div>
</div>
</div>
<div class="row">
 <div class="col-xs-6 col-sm-6">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">Step 2</h4>
   <div class="panel-body panel-body-custom"><img src="/images/tcolor2.png" class="img-responsive center-block">We only want the light at it’s brightest for 2 seconds. In cStyle seconds are broken down into milliseconds.
 </div>
</div>
 </div>
</div>
</div>
<h2 class="custom text-center">
   Next up advance codes!r </h2>
<ul class="pager">
<ul class="pager">
  <li><a href="/learn/beginner_code_two">Previous</a></li>
  <li><a href="/learn/advance_code">Next</a></li>
</ul>
