<html>
<head>
<style type="text/css">
h1.custom {
    color: #6699FF;
    font-size: 70px;
    }
</style>
</head>


<head>
    <style type="text/css">
.panel-default > .panel-heading-custom {
    background: #6699FF; color: #F8F8FF;
}
.panel-body-custom {
    background: lightgrey; color: #6699FF;
}

</style>
</head>
    <head>
    <style type="text/css">

    h2.custom {
    color: #6699FF;
    font-size: 30px;

}
</style>
</head>
<head>
    <style type="text/css">
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px}
    </style>
</head>
<head>
    <style type="text/css">

    h3.custom {
    color: #6699FF;
    font-size: 20px;


}
</style>
</head>
<head>
    <style type="text/css">

    h4.custom {
    color: ##F8F8FF;
    font-size: 30px;


}
</style>
</head>

<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightgrey}
</style>
</head>
<body>

</html>
<div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">What is cStyle?</h4>
   </div>
   <div class="panel-body panel-body-custom">
     <h3 class="custom text-center"><strong>Style is designed to teach you basic coding structure, like how do you start a line of code or what is the sequential order a of code? After learning cStyle you will understand the fundamentals of coding and can go on to learn more advanced programming languages.</strong></h3>
   </div>
   </div>
   <div class="row">
   <div class="panel panel-default">
   <div class="panel-heading panel-heading-custom">
       <h4 class="custom text-center">How does it work?</h4>
   </div>
      </div>

   <div class="panel-body panel-body-custom">
     <h3 class="custom text-center"><strong>PinkThink’s cStyle coding language is based on ladder logic programming. Ladder logic is used to develop software for programmable logic controllers (PLCs). A programmable controller is a digital computer that controls many different types of machinery. cStyle Bracelets have many different components that are controlled by a PLC that you tell what to do with the codes you write.
</strong></h3>
   </div>
      </div>
         </div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
    </div>

